<!DOCTYPE html>
<html>
<head>
  <title>Registro</title>
</head>
<body>
  <% if @message %>
    <h1>¡Registro exitoso!</h1>
    <p><%= @message %></p>
  <% end %>
<form action="/question" method="get">
  <input type="submit" value="Start trivia" />
</form>
</body>
</html>