<!DOCTYPE html>
<html>
<head>
  <title>Reclamos</title>
  <script src="https://kit.fontawesome.com/8a2a68e2d5.js" crossorigin="anonymous"></script>
  <link rel="icon" href="/icon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/claim.css">
</head>
<body>
  <form id="reclamo-form" action="/claim" method="post">
    <h1>Sección de reclamos</h1>
    <p>Escriba su reclamo o sugerencia.</p>
    <div class="textarea-container">
      <textarea type="text" id="description" name="description" placeholder="Escriba su texto aquí..."></textarea>    
    </div>
    <button type="button" onclick="showMsg()">
      Enviar <i class="fa-solid fa-paper-plane"></i>
    </button>
  </form>
  <a href="/protected_page">
    <button type="button">
      Volver
    </button>
  </a>
  <script>
    function showMsg() {
      var description = document.getElementById("description").value;
      if (description.trim() == "") {
        window.alert("Por favor, ingrese su reclamo.");
      } else {
        var confirmation = window.confirm("Su reclamo será enviado exitosamente.")
        if (confirmation) {
          document.getElementById("reclamo-form").submit();
        }
      }
    } 
  </script>
</body>
</html>