<!DOCTYPE html>
<html>
<head>
  <title>Error en el Registro</title>
</head>
<body>
  <h1>Error en el Registro</h1>
  <p>Hubo un error al registrar el usuario:</p>
  <p><%= @error_message %></p>
</body>
</html>
