<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <link rel="icon" href="/icon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/error.css">
</head>
<body>
  <h1>Error</h1>
  <% if params[:code] == "unanswered" || params[:code] == "answered" %>
    <p><%= @error_message %></p>
    <p>Será redirigido para comenzar una nueva trivia.</p>
  <% elsif params[:code] == "registration" %>
    <% if params[:reason] == "password_mismatch" || params[:reason] == "registration_error" ||
      params[:reason] == "email_taken" || params[:reason] == "username_taken" %>
      <p><%= @error_message %></p>
    <% else %>
      <p>Ha ocurrido un error durante el registro.</p>
      <p>Vuelva a intentarlo más tarde.</p>
    <% end %>
  <% elsif params[:code] == "login" %>
    <% if params[:reason] == "authenticate_failed" %>
      <p><%= @error_message %></p>
    <% end %>
  <% elsif params[:code] == "claim" %>
    <% if params[:reason] == "failed_send_claim" || params[:reason] == "malicious_block" %>
      <p><%= @error_message%></p>
    <% end %>
  <% else %>  
    <p>Ha ocurrido un error.</p>
    <p>Vuelva a intentarlo más tarde.</p>
  <% end %>
  
  <form action=" <% if params[:code] == "registration" %> /registrarse 
                 <% elsif params[:code] == "login" %> /login 
                 <% elsif params[:code] == "unanswered" ||  params[:code] == "answered" || 
                    params[:code] == "claim" %> /protected_page
                 <% else %> / 
                 <% end %> " method="get">
    <input type="submit" value="Entendido">
  </form>
</body>
</html>
