<!DOCTYPE html>
<html>
<head>
  <title>Salomone-Herrera</title>
</head>
<body>
  <h1>Sistema de Trivias de Tematica: Software-Tecnologia</h1>
  <p>Autentiquese</p>
  <form action="/login" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
