<!DOCTYPE html>
<html>
<head>
  <title>TriviaAYDS</title>
  <link rel="stylesheet" type="text/css" href="/css/index.css"> 
</head>
<body>
  <h1>¡Te damos la bienvenida a la trivia!</h1>
  <h2>Temática: Software y Tecnología</h2>
  <h2>¿Estás listo para comenzar?</h2>

  <div class="button-container">
    <form action="/login" method="GET">
      <button type="submit">Iniciar sesión</button>
    </form>

    <form action="/registrarse" method="GET">
      <button type="submit">Registrarse</button>
    </form>
  </div>
</body>
</html>
