<!DOCTYPE html>
<html>
<head>
  <title>TriviaAYDS</title>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
  <h1>Sistema de trivia de temática: Software - Tecnología</h1>
  <p>Sea bienvenido!</p>
  <h2>Pregunta:</h2>
  <p>¿Está listo para comenzar la trivia?</p>

  <div class="button-container">
    <form action="/login" method="GET">
      <button type="submit">Iniciar sesión</button>
    </form>

    <form action="/registrarse" method="GET">
      <button type="submit">Registrarse</button>
    </form>
  </div>
</body>
</html>
