<!DOCTYPE html>
<html>
<head>
  <title>TriviaAYDS</title>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
  <h1>¡Te damos la bienvenida a la trivia!</h1>
  <h2>Temática: Software y Tecnología</h2>
  <h2>¿Estás listo para comenzar?</h2>

  <div class="button-container">
    <form action="/login" method="GET">
      <button type="submit">Iniciar sesión</button>
    </form>

    <form action="/registrarse" method="GET">
      <button type="submit">Registrarse</button>
    </form>
  </div>
  <div id="g_id_onload"
         data-client_id="450042762936-m67fepfi9lmc6vut0j5do5tc0sjp54a1.apps.googleusercontent.com"
         data-auto_prompt="false"
         data-callback="handleCredentialResponse">
  </div>
  <div class="button-container">
    <div class="g_id_signin logout-button"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
    </div>

    <button id="google_sign_out" class="logout-button logout-google-button">
        Finalizar sesión Google
    </button>
</div>
  <script src="https://accounts.google.com/gsi/client" async defer></script>

  <script>
    function handleCredentialResponse(response) {
  const body = {
    id_token: response.credential,
    authenticatedWithGoogle: true,
  };

  fetch('http://localhost:3000/google', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(body),
  })
    .then((r) => r.json())
    .then((resp) => {
      localStorage.setItem( 'email', resp.correo );
      console.log(resp);
      window.location.href = `/protected_page`;
    })
    .catch(console.warn);
    }

    const button = document.getElementById('google_sign_out');
        button.onclick = () => {
            console.log( google.accounts.id )
            google.accounts.id.disableAutoSelect()

            google.accounts.id.revoke( localStorage.getItem( 'email' ), done => {
                localStorage.clear()
                location.reload()
            })
        }

  </script>

</body>
</html>
