<!DOCTYPE html>
<html>
<head>
  <title>Estado de operación</title>
</head>
<body>
  <% if @message %>
    <h1>¡Éxito!</h1>
    <p><%= @message %></p>
  <% elsif @error_message %>
    <h1>Error</h1>
    <p><%= @error_message %></p>
  <% end %>
</body>
</html>
