<!DOCTYPE html>
<html>
<head>
  <title>Página protegida</title>
  <link rel="stylesheet" type="text/css" href="/css/protected.css">
</head>
<body>
  <h1>Bienvenido a la página protegida</h1>
  <p>Usted ha sido autenticado correctamente. Que empiece el juego.</p>
</body>
</html>
