<!DOCTYPE html>
<html>
<head>
 <title>Página protegida</title>
 <link rel="stylesheet" type="text/css" href="/css/protected.css">
</head>
<body>
 <h1>Buenos días <%= @username %>, ésta es la página protegida.</h1>
 <p>La autenticación fue correcta. Que comience el juego!!</p>
 <form action="/trivia" method="post">
  <h2>Seleccione la dificultad de la trivia:</h2>
  <div class="button-container">
    <button class="button" name="difficulty" value="beginner">Principiante</button>
    <button class="button" name="difficulty" value="difficult">Experto</button>
  </div>
</form>
</body>
</html>
