body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    line-height: 3.0;
    background-color: #fff;
   }

   h1 {
    word-spacing: 5px;
    font-size: 35px;
    margin-bottom: 20px;
    color: #333;
   }

   h2 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #333;
   }

   h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
   }

   .button-container {
    margin-top: 30px; /* Puedes ajustar este valor según tus preferencias */
    display: flex;
    justify-content: center;
    align-items: center; /* Agrega esta propiedad para alinear verticalmente los botones */
  }

   button {
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 4px;
    color: #333;
    cursor:pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 5px;
    box-shadow:none;
    transition:none;
   }

   button:hover {
    background-color:#caff85;
   }

   .logout-button {
    margin: 0 5px;
  }

   #google_sign_out.logout-button {
    background-color: #ff4c4c;
    color: #fff;
    margin-top: 0px;
    font-size: 20px;
    width: 250px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #google_sign_out.logout-button:hover {
    background-color: #ff8282;
  }
