body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  line-height: 1.5;
  background-color: #fff;
  }

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

h3 {
  text-align:left;
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

p {
  text-align:left;
  font-size: 20px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
  text-align: center;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-track {
  background-color: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.question-result {
  margin-bottom: 30px;
}

.correct {
  color: green;
  font-weight: bold;
  font-size: 24px;
}

.incorrect {
  color: red;
  font-weight: bold;
  font-size: 24px;
}

.question {
  margin-bottom: 20px;
}

.question p {
  margin: 10px 0;
}

.question strong {
  font-weight: bold;
}

.button-container a.button {
  margin-top: 20px;
  margin-right: 35px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #555;
}

h2.score {
  font-size: 36px;
  margin-top: 30px;
}

.correct-message {
  color: green;
  font-weight: bold;
  font-size: 30px;
}

.incorrect-message {
  color: red;
  font-weight: bold;
  font-size: 30px;
}
